[2016-06-15 23:49] mark-cooper opened #1 "Needs tests"
Really, it does ...

[2016-06-16 00:42] mark-cooper opened #2 "Allow override of default authority converters"
https://github.com/lyrasis/cspace-converter/blob/master/app/models/data_object.rb#L15

Unlike procedures which need to be implemented, authorities are "baked in". However it would be beneficial to have more control over the generated authority XML in some cases, by allowing a subclass to override the convert method as for procedures.

[2016-06-17 00:01] mark-cooper opened #3 "Deduplicate by identifier during import"
This is predominantly a problem for authorities. Actually, it's non-harmful from the perspective of transfer (as cspace will reject duplicate authorities matched on shortid), however it would be sensible to do this anyway for incoming data to the converter app.

[2016-06-17 18:19] mark-cooper opened #4 "Move utils and base converter to client?"
No rush.

If utils and base converter were moved to client then could be reused in other projects, and tested independently.

[2016-06-23 06:18] mark-cooper opened #5 "Add relationships during import if defined in config"

[2016-06-23 23:49] mark-cooper commented on #3
Resolved by: https://github.com/lyrasis/cspace-converter/commit/af895d34ce0db74b6d5c31a5e2cb0a733a939b0f

[2016-06-23 23:49] #3 closed

[2016-06-24 18:57] mark-cooper commented on #5
Implemented here: https://github.com/lyrasis/cspace-converter/commit/ff9ad8a29f9a0616ef5582a446b5e391030ac3c8

And updated since.

Relationships aren't created during import. Successful relationship generation can only occur after procedure objects have been transferred to CollectionSpace, then the csid values of the procedure objects are fetched (locally) to construct the Relationship object(s) a

[2016-06-24 18:57] #5 closed

[2016-06-24 18:58] mark-cooper opened #6 "Generate relationships via the UI"
There needs to be a way to do this ... only rake for now.

[2016-06-24 21:14] mark-cooper opened #7 "Review relationships responses"
So, everything seems to work ok, but responses are weird (note: the examples are plucked not related).

POST [relations] payload (example):

[code]

Response in logs:

[code]

GET relations:

[code]

Result:

[code]

The latter result is particularly weird because where is that object/name coming from??? Why does it have a personauthorites reference in it?

Otherwise there are no signs of trouble

[2016-06-24 23:40] mark-cooper opened #8 "Can relations search be consistent with procedures / authorities?"
Searching for relations using csid with the same approach as for procedures / authorities fails. The relations search is returning all relations.

https://github.com/lyrasis/cspace-converter/blob/master/app/services/remote_action_service.rb#L35-L59

This means we skip checking for existing relations, and therefore it's possible to create duplicates (as CollectionSpace does not reject a duplicated

[2016-07-08 00:39] mark-cooper commented on #1
Very simple, initial testing added for data object model.

[2016-07-15 17:38] mark-cooper opened #9 "Generate vocab items via profile"
Would need to make sure vocab doesn't already exist (efficiently). Also potential messy data pollution issue.

Might look like:

[code]

[2016-11-02 22:02] mark-cooper opened #10 "Make sure attributes are xml safe"
http://stackoverflow.com/questions/28673260/remove-weird-invalid-character-in-ruby

If we interpret "characters like this" as any character that doesn't print -- a wider category than "control characters", and will include some that nokogiri has no problem with at all. We can try to remove a bit more than just control characters by using ruby's support for unicode character classes in regexes:

[c

[2016-11-02 23:12] mark-cooper opened #11 "Skip "empty" records"
An empty record is one where only an identifier is generated for the XML payload. Look into options for skipping these records (delete the data object if only identifier is present?).

[2016-11-02 23:21] mark-cooper opened #12 "Support standard cspace prefixes for procedures"
Right now Past Perfect mapping is using literal accessno and objectid values for identifiers, this helps to simplify generation of relationships between procedures and retrieving csid values from remote cspace.

However consider how to support use of prefixes and map relationships between types with prefixes. Impacts at least:

- creation / import (probably adding prefix to identifier in data obje

[2017-02-10 19:15] mark-cooper opened #13 "Load converter configs from yaml?"

[2017-07-17 20:51] mark-cooper opened #16 "Include sample data for testing"
Add a script like this:

https://github.com/lyrasis/cspace-converter/blob/master/import.sh#L3-L6

To load the demo data so it's easy to tryout the converter (demo.sh?).

Either want local copies of the demo data (ask Megan if that's ok) OR do a curl to download the files (convert to csv?) and process. Latter doesn't duplicate data although converting to csv is a pain if necessary -- probably easie

[2017-10-06 17:30] mark-cooper opened #20 "Add dump xml task"

[2017-10-06 19:30] #20 closed

[2017-10-06 19:30] mark-cooper commented on #20
@abbistani @remillet done :smile:

[2017-10-06 19:31] mark-cooper commented on #20
https://github.com/lyrasis/cspace-converter/commit/c8670d42709441b3d15926b3e0fffd416f035e7d

[2018-05-01 20:54] remillet opened #24 "First row of CSV file needs non-null value for all (or just last?) columns"
Reported by WESTAF:

[2018-05-02 18:02] remillet opened #25 "Create a rake task for transferring ALL authority records"
Create a rake task for transferring ALL authority records to CollectionSpace.  -for example,

`./bin/rake remote:action:transfer[AUTHORITIES, all]`

Mark, 4:45 PM

[2018-10-20 02:16] mark-cooper commented on #13
Would look like this this:

[code]

[2018-10-31 21:12] mattvirlee opened #33 "Write Current position in Source files to log"
While transferring and staging of data using the tool, one can redirect log output to a file. Example:
`./import_auth.sh org.csv organization_batch PublicArt termdisplayname Organization organization > org_stage.out`

Generally, these .out files can be fairly useful. However, when working with larger datasets, the tool can generate log entries that are difficult to parse. Example:
[sample.txt](htt

[2018-10-31 23:45] mark-cooper opened #35 "Cleanup in preparation for transfer"
Remove non-generic converter profiles and data.

[2018-11-01 17:17] mark-cooper commented on #33
@mattvirlee thx for reporting the issue. PR #41 addresses the specific request, and in general we'll introduce more logging throughout the app.

FYI, expect some rapid updates to `master` over the next couple of weeks, so things may be a little unstable before settling down. Once things are reworked a bit we intend to push stable release tags.

[2018-11-19 23:18] remillet opened #44 "Add config to toggle URL encoding for "blobUri" query param."
When working with URL strings from CSV files, there should be configuration for toggling URL encoding of the values.  Right now, it is hard coded: https://github.com/lyrasis/cspace-converter/blob/e38fa87935597122eb7823bc19a2ebcebf294bd1/app/services/remote_action_service.rb#L33

[2018-12-08 00:02] mark-cooper opened #45 "Make batch size configurable for transfer jobs"
There have been reports of issues when running transfer jobs using Mongoid's default batch size (100), so make this configurable.

Example error:

[code]

Can be resolved by lowering the batch size:

https://github.com/lyrasis/cspace-converter/blob/master/app/jobs/transfer_job.rb#L8

[code]

Replace with:

[code]

Add to env:

[code]

The batch size determines the chunk size of records per import

[2019-06-26 17:28] mark-cooper commented on #1
Some tests have been added. Not complete, but better.

[2019-06-26 17:28] #1 closed

[2019-06-26 17:28] mark-cooper commented on #2
This is resolved using authority import.

[2019-06-26 17:28] #2 closed

[2019-06-26 17:29] mark-cooper commented on #4
Nope, don't do this.

[2019-06-26 17:29] #4 closed

[2019-06-26 17:30] mark-cooper commented on #8
CollectionSpace now rejects duplicate relationships.

[2019-06-26 17:30] #8 closed

[2019-06-26 17:31] mark-cooper commented on #13
Done for core. Needed for others.

[2019-06-26 17:32] mark-cooper commented on #16
There is demo data available.

[2019-06-26 17:32] #16 closed

[2019-06-26 17:33] mark-cooper commented on #35
Done.

[2019-06-26 17:33] #35 closed

[2019-07-12 21:51] mark-cooper commented on #25
Converter modules now declare which authorities they support:

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/_config.rb#L13

So this should be easily doable.

[2019-07-12 21:52] #11 closed

[2019-07-12 21:53] mark-cooper commented on #9
Can now use vocab cache to check for existing values.

[2019-07-12 21:53] #6 closed

[2019-07-12 22:16] mark-cooper opened #49 "Adding constants for defining default authority short IDs"
Implement: https://github.com/lyrasis/cspace-converter/pull/43

[2019-09-28 02:51] #7 closed

[2019-09-28 02:52] #12 closed

[2019-09-28 02:54] #49 closed

[2019-09-28 02:55] mark-cooper opened #54 "Refactor relationships"
Pull out existing relationships code. Re-implement as an independent import / transfer type.

[2019-09-28 03:00] mark-cooper opened #55 "Make authorities importable via config and standardize imports"
For historical reasons authorities are handled differently from procedures and do not go through the module -> profile config path. Update the config so that authorities can be imported in the same way as procedures:

- profileName
  - Procedures
    - CollectionObjects
    - Authorities (generated via procedures csv)
  - Authorities (generated via authority csv)
  - Relationships

[2019-10-01 20:31] #55 closed

[2019-10-01 23:39] mark-cooper opened #58 "Clear up config file"
When starting out the general idea was that one "profile" for a spreadsheet would create multiple procedures and related authorities. That's mostly not happening now, and they're lining up like so "acquisition -> Procedures -> Acquisition && cataloging -> Procedures -> CollectionObject". Given that, and the use of the top level key to indicate the type of import, it may be worth reexamining the ro

[2019-10-18 01:50] mark-cooper commented on #58
This has mostly been done with recent changes. Revisit in future.

[2019-10-18 01:50] #58 closed

[2019-11-04 21:50] #25 closed

[2019-11-04 21:51] mark-cooper commented on #9
Implemented.

[2019-11-04 21:51] #9 closed

[2019-11-05 23:34] #45 closed

[2019-11-05 23:52] mark-cooper commented on #13
Done.

[2019-11-05 23:52] #13 closed

[2019-11-05 23:54] mark-cooper opened #87 "Converter profile for AuthPerson_Core_All"
Branch: DDD-authperson-core

Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/person.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/authperson_core_all.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample da

[2019-11-05 23:58] mark-cooper opened #88 "Converter profile for LoansOut_Core_All"
Branch: DDD-loansout-core

Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/loanout.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/loansout_core_all.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample data.

[2019-11-05 23:59] mark-cooper commented on #88
@Paulmulonzia I fixed a few (pretty small) issues in this PR:

https://github.com/collectionspace/cspace-converter/pull/86

Bring yourself up to date with master and start a new branch for ongoing work and you should be all set.

Couple of notes:

1. In the specs for testing vocabularys the trick to overcome not having a local cache is: CSURN.parse(text)[:label].downcase

https://github.com/collec

[2019-11-06 00:01] mark-cooper opened #89 "Converter profile for ObjectExit_Core_All"
Branch: DDD-objectexit-core

Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/exit.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/objectexit_core_all.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample data

[2019-11-06 00:03] mark-cooper opened #90 "Converter profile for LMI_Core_All"
Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/movement.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/lmi_core_all.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample data. Export the XML then delete the

[2019-11-06 00:14] mark-cooper opened #92 "Converter profile for Nomenclature_Core_All"
Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/concept.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/authconcept_nomenclature_terms.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample data. Export the XM

[2019-11-06 00:22] mark-cooper opened #93 "Converter profile for UseOfCollections_Core_All"
Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/useofcollection.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/useofcollections_core_all.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample data. Export the

[2019-11-06 08:58] Paulmulonzia commented on #88
Thanks for the update @mark-cooper.

I uncommented the rest of the fields and import to cspace works perfectly.

I have pushed the new branch.

[2019-11-06 11:56] Paulmulonzia commented on #89
Hi @mark-cooper,

I tested out import and all objects are successfully being imported to cspace.

I have updated the vocab fields to use "[:label].downcase"  in the mapping spec and created a pull request with the new updates.

Pending issue is the "exitReason" field won't pick the value **return of loan** but **deaccession** and  **disposal** both import without any issues. I checked from the exp

[2019-11-06 13:04] Paulmulonzia commented on #87
Hi @mark-cooper,

Which name do I use to fetch/export the xml from cspace? I tried bundle exec rake remote:get[person/ab547505-b40f-4540-8187], bundle exec rake remote:get[persons/ab547505-b40f-4540-8187], bundle exec rake remote:get[person/local/ab547505-b40f-4540-8187] all of which didn't return anything.

[2019-11-06 14:22] kspurgin commented on #92
@mark-cooper I was going to assign this to myself but looks like I can't. Have I been added to the cspace github team?

[2019-11-06 15:23] mark-cooper commented on #92
@kspurgin you're invited 😄

[2019-11-06 15:29] mark-cooper commented on #88
https://github.com/collectionspace/cspace-converter/pull/94

[2019-11-06 15:36] mark-cooper commented on #87
@Paulmulonzia here are some examples for authorities:

[code]

[2019-11-06 15:43] mark-cooper commented on #89
"Should I modify the sample data to be similar to what we have from the exported xml?"

I believe yes. @meganforbes we discussed the issue with static list terms and decided that we'd "expect" the csv to contain valid data, right?

[2019-11-06 18:08] mark-cooper opened #96 "Converter profile for MediaHandling_Core_All"
Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/media.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/mediahandling_core_all.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample data. Export the XML then del

[2019-11-06 18:09] mark-cooper opened #97 "Converter profile for Acquisition_Core_All"
Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/acquisition.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/acquisition_core_all.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample data. Export the XML then

[2019-11-06 18:12] mark-cooper opened #98 "Converter profile for Cataloging_Core_All"
Mapping

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/core/collectionobject.rb

Data

https://github.com/lyrasis/cspace-converter/blob/master/data/core/cataloging_core_excerpt.csv

Config: use "core"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#core

Start by manually creating a record in cspace using first row of sample data. Export the

[2019-11-08 00:56] mark-cooper opened #102 "Add required headers to config"
Abort if required headers are not present. Will prevent use of wrong csv template for a profile.

[2019-11-08 01:05] mark-cooper opened #103 "Implement support for hierarchy relationships import"
Payload example:

[code]

[2019-11-08 16:28] Paulmulonzia commented on #87
Hi @mark-cooper, I have pushed the auth_person branch with the updated mappings.

Issues at hand:

**termType** contains data that's not available on the list items on cspace.

**birthDateGroup** and **deathDateGroup** contains variable data e.g. 1813, ca. 1928, ca. 420 BCE,

**title** - values had to be updated to not have succeeding periods. e.g. from Dr. to Dr

**salutation** and **gender** - v

[2019-11-08 16:37] mark-cooper commented on #87
@Paulmulonzia thx! I'll look it over soon.

"The contact information fields are currently not importing to cspace despite the structure being similar to the exported reference xml."

I think this is the first time you're encountering multiple record types within a single converter. I'll update your branch to account for this so you can see how it works.

[2019-11-08 22:32] mark-cooper commented on #87
@Paulmulonzia I've updated some things in your branch. Be sure to `git pull origin DDD-authperson-core` before doing any more work!

Here are the main things:

We now pass in some additional data to the converters:

https://github.com/collectionspace/cspace-converter/pull/104/files#diff-13469a5fd785089ba78311c372df955aR32-R35

The primary use is for authority record mapping. With procedures there

[2019-11-11 09:52] Paulmulonzia commented on #87
Thanks @mark-cooper for the updates. I did pull the updated code and transfer of contact information fields now works.

[2019-11-11 12:01] Paulmulonzia commented on #90
Hello @mark-cooper, "movement" is currently disabled under import profiles in the UI.

Thanks.

[2019-11-11 16:22] mark-cooper commented on #90
@Paulmulonzia free free to enable it as part of the pull request. That's just adding adding `enabled: true` under movement like: https://github.com/collectionspace/cspace-converter/blob/master/lib/collectionspace/converter/core/config.yml#L23

[2019-11-11 22:49] mark-cooper commented on #89
For the record I updated the csv (returnofloan).

[2019-11-12 11:21] Paulmulonzia commented on #90
Thank you @mark-cooper.

Updated the mappings and spec.

[2019-11-12 13:25] Paulmulonzia commented on #98
Hello @mark-cooper,

I updated a few fields on the converter. The following are some of the issues encountered:

**recordStatus** values in the sample data need to be lower case for import to work

The converter is using the add_measured_part_group_list helper which won't pick the **measuredPart** and **measurementUnit** fields since they appear as **dimensionPart** and **unit** respectively in th

[2019-11-12 13:38] Paulmulonzia commented on #98
I have updated the sample data to conform to the reference xml file and pushed the updated sample data file.

[2019-11-12 20:15] mark-cooper commented on #98
@Paulmulonzia thx, much appreciated! There's still a little bit of work to do. All fields (in the first data row of the csv) should have sample data and the reference XML should be fully populated with data (from cspace) with the specs to match. When that's done I think this will be ready for QA with Megan.

[2019-11-13 08:51] Paulmulonzia commented on #89
Thank you @mark-cooper

[2019-11-13 11:42] Paulmulonzia commented on #98
Hi @mark-cooper, I have updated a few of the empty fields with data.

I am however not sure the values to use on the following fields as they are blank not only for the first row but for the rest of the records:

 copyNumber, editionNumber, form, inscriber, method, objectStatus, phase, sex, style, techAttribute, objectComponentName.

Thanks.

[2019-11-13 21:40] mark-cooper commented on #98
@meganforbes do you want to provide data for these fields?

[2019-11-13 22:12] mark-cooper opened #113 "Converter profile for Cataloging_Materials_All"
Mapping

https://github.com/collectionspace/cspace-converter/blob/master/lib/collectionspace/converter/materials/collectionobject.rb

Data

https://github.com/collectionspace/cspace-converter/blob/master/data/materials/cataloging_materials_all.csv

Config: use "materials"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#materials
https://materials.dev.collectionspace.org

Start by m

[2019-11-14 16:36] meganforbes commented on #98
Updated csv with all fields filled in row 1. LMK if you also need to to re-do the term lists so that it's the backend vs. the front end terms.

[sample_data_cataloging_core_excerpt.xlsx](https://github.com/collectionspace/cspace-converter/files/3847590/sample_data_cataloging_core_excerpt.xlsx)

[2019-11-14 18:21] mark-cooper commented on #113
@Paulmulonzia I changed the description a bit. The reference XML can be much simpler, we don't need to retest fields we already have covered, so it only needs the identifier and the new / updated fields. Also, there may be fields not already mapped in core (like number value / type) but are core fields so core needs to be updated in that case.

[2019-11-15 12:28] Paulmulonzia commented on #113
Well understood @mark-cooper.

Am facing some issues trying to import the sample data:

1. There are 3 unnamed dimension field columns that lead to a "duplicate headers" error due to the headers being null (the error is not encountered when I pass in values to be used as headers for the said columns). Please let me know the header names to be used.

2. After temporarily fixing the above issue, I a

[2019-11-15 13:05] Paulmulonzia commented on #98
Thanks @meganforbes.

I will redo the term lists.

For the fields "Inscriber" and "method", do we put them under Textual or Non textual Inscription in cspace?

[2019-11-15 16:38] mark-cooper commented on #113
@meganforbes what should the missing headers be called? @Paulmulonzia for now using temp / placeholder names is fine, we can correct it later.

I just pushed a fix in master for the constant error.

[2019-11-15 16:55] mark-cooper commented on #98
I updated the core cat csv and modified the tests to match. Updates:

1. headers use camel case form (objectNumber), not standard English (consistent with all other spreadsheets).
2. static list terms updated to the backend form (but only where it caused tests to fail)
3. Updated reference XML to use new data

[2019-11-15 21:36] #102 closed

[2019-11-16 00:06] mark-cooper opened #122 "Defaults values via config"
From @kspurgin

If I tell the converter tool my CSV is to be imported as Nomenclature concepts, I know certain extra things about those terms which should be reflected in the records without me having to add the same data to every row in the spreadsheet to express that every term we're importing is:

- in English (because we are only working with the English Nomenclature
- preferred for English (b

[2019-11-16 00:09] mark-cooper commented on #122
https://github.com/collectionspace/cspace-converter/pull/121

Default values are used as a fallback if a value is not provided in the csv row data.

[2019-11-16 00:48] mark-cooper commented on #122
Issue with defaults: if you're using the tool for updates you may not want the defaults to be applied. Need an option to suppress defaults, or something else ..?

[2019-11-16 08:43] mark-cooper opened #124 "Finish support for import vocabs"
https://github.com/collectionspace/cspace-converter/pull/123

[2019-11-16 14:58] mark-cooper opened #125 "Generate big fake cataloging csv for performance testing"
Add rake task. Should have 100k+ row.

https://github.com/faker-ruby/faker

[2019-11-16 18:24] #124 closed

[2019-11-17 07:23] #103 closed

[2019-11-18 07:59] Paulmulonzia commented on #98
Thank you @mark-cooper for the update

[2019-11-18 13:16] Paulmulonzia commented on #113
Thank you @mark-cooper, the issue got resolved.

I have mapped a couple of additional fields for the materials converter as well as for the core and I am currently stuck at splitting values for the **handling** and **handlingNote** fields

https://github.com/collectionspace/cspace-converter/blob/DDD-cataloging-Materials/lib/collectionspace/converter/materials/collectionobject.rb#L31

I am getting

[2019-11-18 15:44] mark-cooper commented on #113
@Paulmulonzia this an eyeball guess but maybe because `overall` is an array it shouldn't be wrapped in an array here:

https://github.com/collectionspace/cspace-converter/blob/DDD-cataloging-Materials
/lib/collectionspace/converter/materials/collectionobject.rb#L36

So just `overall` instead of `[overall]`?

[2019-11-18 15:53] mark-cooper opened #129 "Implement search"
Options:

https://github.com/mongoid/mongoid_search
https://github.com/mongoid/mongoid_fulltext

"If you're indexing multiple models, you may find that you need to combine results to create a single result set ... you can merge both into a single index by using the same :external_index parameter:"

[2019-11-18 17:12] Paulmulonzia commented on #113
That fixed it, thank you.

[2019-11-19 00:08] #54 closed

[2019-11-19 00:57] mark-cooper commented on #113
@Paulmulonzia I updated and merged your branch, so you'll need to start from a new branch off master for ongoing work.

Looking at the reference XML the structure for materials cataloging has two record types:

https://github.com/collectionspace/cspace-converter/blob/master/spec/fixtures/files/materials_collectionobject.xml#L152-L153

That requires an approach similar to the one used for core pers

[2019-11-19 01:02] mark-cooper opened #131 "Converter profile for Media_Materials_All"
Mapping

https://github.com/collectionspace/cspace-converter/blob/master/lib/collectionspace/converter/materials/media.rb

Data

https://github.com/collectionspace/cspace-converter/blob/master/data/materials/media_materials_all.csv

@meganforbes need data.

Config: use "materials"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#materials
https://materials.dev.collectionspace.org

S

[2019-11-19 01:04] mark-cooper commented on #131
@Paulmulonzia @meganforbes is materials media any different from core media? If not then all that needs to be done is to delete the `self.map` method and remove: https://github.com/collectionspace/cspace-converter/blob/master/lib/collectionspace/converter/materials/media.rb#L9

[2019-11-19 01:06] mark-cooper opened #132 "Converter profile for Person_Materials_All"
I'm guessing this one is the same as core. If so:

Delete the `self.map` method.
Remove: https://github.com/collectionspace/cspace-converter/blob/master/lib/collectionspace/converter/materials/person.rb#L15

[2019-11-19 01:10] mark-cooper opened #133 "Converter profile for Material_Materials_All"
Mapping

https://github.com/collectionspace/cspace-converter/blob/master/lib/collectionspace/converter/materials/material.rb

Data

https://github.com/collectionspace/cspace-converter/blob/master/data/materials/material_materials_all.csv

@meganforbes need data.

Config: use "materials"

https://github.com/lyrasis/cspace-converter/blob/master/DEV.md#materials
https://materials.dev.collectionspace.

[2019-11-19 21:47] mark-cooper opened #136 "Static list options, download ui config?"
Currently mapping data for static list options requires the csv data to have the appropriate backend term, not the human friendly display label. This can be explained in documentation, but is still less than ideal. I expect it's much easier to supply the correct term when it's something that can be easily referenced (in the ui) vs. buried in config.

We cannot currently directly access the json av

[2019-11-21 12:59] Paulmulonzia commented on #113
Hi @mark-cooper. Thank you for the update, I did modify the structure to accommodate both record types.

I have mapped all fields and updated and the spec file.

I am however facing an issue running transfers. I am getting the error "Transfer requires no pre-existing csid and uri."  despite the object not being present in cspace.

![image](https://user-images.githubusercontent.com/34029747/6934017

[2019-11-21 16:05] mark-cooper commented on #113
Hi @Paulmulonzia

Isn't it this one? https://core.dev.collectionspace.org/cspace/core/record/collectionobject/64182954-9d00-40dd-a0b8

[2019-11-21 16:22] Paulmulonzia commented on #113
I just cleared it from cspace and tried again and got the error.

I did try the last object DM2004.001.0020 and it got transferred. However its going to core.dev instead of materials.dev which is the config that I am currently using.

[2019-11-21 16:56] mark-cooper commented on #113
Have you checked you are you using the right config?

https://github.com/collectionspace/cspace-converter/blob/master/docs/test/MATERIALS.md

I just tried that config with the materials cataloging file and it appears to be working fine. I transferred and deleted all the records in materials.dev successfully.

[2019-11-21 17:14] Paulmulonzia commented on #113
Its strange when I run the import and transfer via CLI, all works fine all objects are imported and transferred to materials.dev, but when using the UI, the objects all get trasnferred to core.dev.

I will check on it, but at the moment CLI works fine.

[2019-11-21 17:48] mark-cooper commented on #113
Weird, that's very mysterious. I just tried using the UI because I couldn't recall how I tested it earlier and via the UI seems to be fine. They should of course be exactly the same thing.

So long as the remote is set correctly there shouldn't be any possibility of aiming at the wrong site, which can be checked at `/connection`.

[2019-11-22 09:59] Paulmulonzia commented on #113
Hi @mark-cooper, here's my connection page:

![image](https://user-images.githubusercontent.com/34029747/69415993-ae280c80-0d26-11ea-9382-8b95531c9479.png)

[2019-11-22 16:01] mark-cooper commented on #113
Hi @Paulmulonzia thx. I do see the problem now. The dev server is actually a multi-tenant system therefore any domain that can reach `cspace-services` is valid and the tenant you will use is actually determined by your login user:

https://github.com/collectionspace/cspace-converter/blob/master/docs/test/MATERIALS.md

The user should be: admin@materials.collectionspace.org

[2019-11-22 19:10] mark-cooper commented on #136
Will lock this for now. After discussing with the group we are sticking with the status quo and the data dictionary / templates will make the available values known to the end user.

[2019-11-22 19:34] mark-cooper opened #142 "Mukurtu import"
@kspurgin @meganforbes the most barebones outline for a Mukurtu import is here:

https://github.com/collectionspace/cspace-converter/compare/mukurtu?expand=1

The config is just a placeholder but demonstrates the example that a) there will be a single spreadsheet to import and b) multiple procedures can be generated from a single spreadsheet.

To get the ball rolling we just need some sample data

[2019-11-25 10:09] Paulmulonzia commented on #113
Hello @mark-cooper thank you for pointing out the issue, all objects are now being correctly transferred.

There were some few issues I observed:

**inventoryStatus**, **publishTo** field values not being displayed in cspace but when fetching the xml, values are present.

The field **collection** - objects with the value "non-circulating" not showing up on cspace but they are present on the xml.

[2019-11-25 16:47] mark-cooper commented on #113
@Paulmulonzia great, glad that worked out, and that sounds good to me for `dimension`.

For `inventoryStatus` and `publishTo` I see that the reference XML doesn't contain values from cspace, which means we currently can't test them in the spec, and we don't have a known good value to compare to. So the ref XML needs to be updated. Beyond that I think the issue is probably the terms need to be upda

[2019-11-26 21:54] mark-cooper opened #145 "Update config process"
Currently loaded per module. Instead:

1. Load from default.
2. Override from module.
3. Override from home (`~/.cspace-converter/$module.yml`)

[2019-11-27 10:20] Paulmulonzia commented on #113
Hi @mark-cooper,

I found out the issue was **inventoryStatus** and **publishTo** are supposed to use vocab.

**collection** is supposed to use _ rather than - to separate the values, so I updated the sample data.

I have pushed these updates to github.

Thanks.

[2019-11-27 15:06] meganforbes opened #147 "How to model repeating fields in CSV?"
How to model groups of fields that repeat, and have small groups that repeat within, e.g.:

![image](https://user-images.githubusercontent.com/6516857/69734739-84436100-10fd-11ea-915b-b2146a1de070.png)

[2019-12-02 13:09] Paulmulonzia commented on #133
Hi @mark-cooper,

Kindly advice on how to fetch the xml from cspace.

I have tried the following which all return null:

bundle exec rake remote:get[materials/cb89532d-4d8b-4a0a-91eb]

bundle exec rake remote:get[material/cb89532d-4d8b-4a0a-91eb]

bundle exec rake remote:get[material/local/cb89532d-4d8b-4a0a-91eb]

bundle exec rake remote:get[materials/local/cb89532d-4d8b-4a0a-91eb]

[2019-12-02 23:58] mark-cooper commented on #133
@Paulmulonzia try these out:

[code]

[2019-12-03 00:01] mark-cooper commented on #113
@Paulmulonzia I merged your branch. Be sure to update your copy master for future work.

It looks like there's still a bit of cleanup needed for the tests:

https://github.com/collectionspace/cspace-converter/blob/master/spec/collectionspace/converter/materials/collectionobject_spec.rb#L25-L35

If the test can be covered by core then it doesn't need to be repeated for materials.

[2019-12-03 00:31] mark-cooper opened #149 "Converter profile for Osteology_Anthro_All"
Mapping

https://github.com/collectionspace/cspace-converter/blob/master/lib/collectionspace/converter/anthro/osteology.rb

Data

https://github.com/collectionspace/cspace-converter/blob/master/data/anthro/osteology_anthro_all.csv

Config: use "anthro"

https://github.com/collectionspace/cspace-converter/blob/master/docs/test/ANTHRO.md
https://anthro.dev.collectionspace.org

[2019-12-04 20:02] #24 closed

[2019-12-10 17:01] Paulmulonzia commented on #149
Hi @mark-cooper

Kindly assist on how I would implement the date group fields "osteoAgeEstimateDateGroup" and "sexDeterminationDateGroup" which are both inside grouplists:

https://github.com/collectionspace/cspace-converter/blob/DDD-Anthro-Osteology/spec/fixtures/files/osteology.xml#L56

I did try using both add_group and add_date_group helpers and assigned them to a variable which both failed.

[2019-12-11 00:00] Paulmulonzia commented on #149
I ran a transfer job with the sample data and below are some of the changes I made:

**sexDetermination** values need to start with an uppercase letter e.g. Probably female, Female for the import to work.

**molarsPresent** , **cranialDeformationPresent** and **InventoryIsComplete** values had to be modified to true/false rather than yes/no.

[2019-12-11 19:52] mark-cooper commented on #149
Hi @Paulmulonzia

Sorry for not checking in sooner. I'll take a look at your branch later this afternoon.

[2019-12-11 19:58] meganforbes commented on #113
@Paulmulonzia we have a few new fields to add to the converter profile for Cataloging to support a data migration. I have attached the XLS with updated sample data here (GitHub won't let me attach CSV). The fields are: otherNumber, otherNumberType, publishTo, inventoryStatus, fieldCollectionNote, fieldCollectionFeature, productionPeopleRole, and prouductionNote.

[sample_data_cataloging_core_excer

[2019-12-11 21:45] kspurgin commented on #113
@Paulmulonzia In regard to the new fields for core collectionobject converter module Megan mentioned above, a couple of further things:

I'd sent Megan a field list of fields needed for this migration, but it changed after I sent it to her, so I double checked the sample data, converter tool code as of now, and the actual data we need to migrate.

- Here's a new version of the sample data: [sample

[2019-12-11 21:47] mark-cooper commented on #149
@Paulmulonzia I think this covers it:

https://github.com/collectionspace/cspace-converter/pull/156/commits/70386c5dd446ae313b07790504369df43c244f3d

(I did sexDeterminationDateGroup but not osteoAgeEstimateDateGroup)

I'm not a big fan of how subgroups are being handled currently, but it works for now.

[2019-12-11 21:49] kspurgin commented on #98
@Paulmulonzia In regard to the new fields for core collectionobject converter module Megan mentioned [here](https://github.com/collectionspace/cspace-converter/issues/113#issuecomment-564707787), a couple of further things:

I'd sent Megan a field list of fields needed for this migration, but it changed after I sent it to her, so I double checked the sample data, converter tool code as of now, and

[2019-12-11 21:50] kspurgin commented on #113
Megan's comment above is about **core**, not **materials**, so I've updated [#98] with fuller/specific info about the changes needed.

[2019-12-12 14:46] kspurgin opened #157 "Converter module for Cataloging Anthro"
At this time, this work will include support for fields included in the OHC remains collectionobject data in the migration queue that:

- do not exist in collectionobjects_common;
- or are in collectionobjects_common but are overridden in collectionobjects_anthro

This module will initially include the listed fields in the following namespaces, to keep things simple (and not have to create separat

[2019-12-12 14:51] kspurgin opened #158 "Converter module for Cataloging OHC"
At this time, this work will include support for fields included in the OHC remains collectionobject data in the migration queue that:

- do not exist in collectionobjects_common, collectionobjects_anthro, collectionobjects_annotation, or collectionobjects_nagpra;
- or are that are in these namespaces but are overridden in OHC extension

This module will initially include the listed fields in the

[2019-12-12 14:58] kspurgin opened #159 "Converter profile for OHC remains data migration"
Set up the full profile/config to handle the data we are migrating.

This depends on the following work being completed first:
- [#98] (additions to collectionobjects_common described [here](https://github.com/collectionspace/cspace-converter/issues/98#issuecomment-564748647))
- [#157] (collectionobjects_anthro)
- [#158] (collectionobjects_ohc)

[2019-12-12 19:27] kspurgin commented on #159
Sample data has been added in #161

[2019-12-12 19:28] kspurgin commented on #158
Sample data added in PR branch #162

[2019-12-12 19:29] kspurgin commented on #157
Sample data added in PR #160 branch

[2019-12-12 20:48] Paulmulonzia commented on #98
Hi @kspurgin.

The sample data attached is having different field names from what is currently mapped on the converter. For example **numberValue** and **numberType** are otherNumber and otherNumberType respectively on the sample data.

I updated the field names to match the converter profile. Apart from that, the rest of the fields were succesfully transferred to cspace.

@mark-cooper I have push

[2019-12-12 21:12] Paulmulonzia commented on #98
The field values for **techAttribute** also had to be modified to use hyphen as a delimiter rather than using whitespace in between two words for the import to work.

[2019-12-12 22:55] mark-cooper commented on #98
@Paulmulonzia I updated your branch. I had to uncomment some lines in the `core/collectionobject_spec.rb`, it looks like those fields need to be added to the sample data.

[2019-12-12 23:02] mark-cooper commented on #98
@Paulmulonzia actually I'll merge that branch. So you can create a new branch off latest master to update the sample data / fix the spec. If you want to re-use a branch name that's completely fine by me but append the date to the branch name (like: `DDD-Core-Cataloging_12-12-2019`) so it's less confusing for me when encountering the same branch name again or slightly different :smile:

[2019-12-12 23:07] mark-cooper commented on #149
@Paulmulonzia I'll merge what is here currently today. Make a new branch off latest master for ongoing work.

[2019-12-13 12:07] Paulmulonzia commented on #98
Hi @mark-cooper.

I have pushed the updated sample data and spec file.

Apologies for the confusion in branch names, I will adopt different naming conventions going forward.

Thanks.

[2019-12-13 18:32] mark-cooper commented on #98
:star:

[2019-12-17 14:37] Paulmulonzia commented on #133
Hi @mark-cooper,

Kindly assist on how to implement a group list inside another group list as in the materials authority structure:

https://github.com/collectionspace/cspace-converter/blob/DDD-Materials-Authority_16-12-2019/spec/fixtures/files/materials_authority.xml#L96

My current implementation is **typicalSizeDimension** as a subgroup, which as expected fails to transfer to cspace since there

[2019-12-17 15:40] meganforbes commented on #97
1. Date fields not importing - accessionDateGroup in ok, but not acquisitionAuthorizerDate or acquisitionDateGroup. Sample data copied/pasted from link above.

[2019-12-19 15:38] kspurgin opened #167 "check for/warn about field group lists with uneven number of values across fields"
Converter tool code currently, in general, seems to make the assumption that in a repeatable grouping of fields, that there are equal numbers of values given each field. For example:

name: name1; name2; name3
nametype: type1;;type3

Depending on how the CSV data is being compiled/generated, it could be really fiddly and error prone to get this right in the CSV!

I did not find anything in the con

[2019-12-19 15:51] kspurgin commented on #147
I don't know if we made any decision on this elsewhere, but I ran into a similar issue with this while working on the Anthro collectionobject module, which has:

- a repeatable commingledRemainsGroup of fields...
- ...each instance of which may contain a repeatable mortuaryTreatmentGroup of fields.

![image](https://user-images.githubusercontent.com/450570/71187182-8f953280-224c-11ea-8971-0c322a19

[2019-12-19 15:58] kspurgin commented on #147
Related question: is there a place we want to start drafting documentation of the converter tool CSV specification?

It would include info such as:
- use the files found [here](https://github.com/collectionspace/cspace-converter/tree/master/data) as templates
- you can remove columns you don't need
- separate multivalued field values with '; '
- represent a blank multivalued field value explicitly

[2019-12-19 16:06] kspurgin commented on #147
N.B. I also tested that my code for handling commingledRemainsGroup + mortuaryTreatmentGroups could be used more generally to handle other complex repetitions.

To test this, I added two titleTranslationGroups to the title in

title,titleLanguage,titleTranslation,titleTranslationLanguage

[2019-12-19 16:14] kspurgin commented on #147
N.B. I also tested that my code for handling  commingledRemainsGroup + mortuaryTreatmentGroups could be used more  generally to handle other complex repetitions.

To test this, I added an additional title and two titleTranslationGroups to each:

![image](https://user-images.githubusercontent.com/450570/71189202-70000900-2250-11ea-9d95-e7d7bf9446f3.png)

Following what I did for the other,  this wo

[2019-12-19 16:18] kspurgin commented on #147
Other thing I would propose on multivalued fields: It's problematic to choose a single-character that will work. You run into the problem of how do we split up multi-value notes that have ";" in the text of the note.

The thing I've found to work best over the years in wrangling data from different sources is to use ';;;' as the delimiter. In natural language there is no real reason for there to b

[2019-12-19 17:06] abbistani commented on #147
Hmm.  I've always been partial to |, but that does occasionally show up in real test.  (FYI, it's also what I use as the second delimiter in my one-off scripts for things like your Title Translation example.)  The nice thing about the single ; is that it's already used as the delimiter in a lot of data.  I wonder if we could get away with preserving a \-escaped ; ?

I'm also the tiniest bit worrie

[2019-12-19 17:18] kspurgin commented on #147
Mainly just using ';' as the example delimiter here because that's what's currently used in the sample data.

Same principle with any single-character delimiter, though.

I've found it not that uncommon for people to use '|' to pseudo-format stuff in textual notes --- granted this was usually in MARC 5XXs.

Maybe we use: ✂️ (lol)

Not 100% on what you mean by: "I'm also the tiniest bit worried abo

[2019-12-19 17:21] kspurgin commented on #147
One problem with multi-character delimiters, though, is that Excel doesn't support or understand the concept of a multi-character delimiter. And possibly other tools don't either.

So depending on how people are compiling the data for the csv, they may not be able to insert a repeated character delimiter.

[2019-12-19 17:41] meganforbes commented on #167
+1 to your suggestion - process data, show issue with uneven number of values.

[2019-12-19 17:52] abbistani commented on #147
Other tools also tend to assume that delimiters are single character, when they don't just ask whether you want tabs or commas.  As more things support Unicode, maybe ✂️isn't a bad idea.  Or 💩in certain instances.

With the null thing, I was definitely just thinking about readability.  But I freely admit that I'm middle-aged, and not what I used to be at parsing strings of punctuation.  And the em

[2019-12-19 21:42] kspurgin opened #169 "Fix dependence on non-required field values for iteratively populating fieldGroups"
For instance: https://github.com/collectionspace/cspace-converter/blob/a833bbb26831d615c87c764615e3350c3a0a1533/lib/collectionspace/converter/anthro/osteology.rb#L64-L78

`osteoAgeEstimateVerbatim` is not a required field. Other fields in the `osteoAgeEstimate` field may be present and need to be set when `osteoAgeEstimateVerbatim` has not been populated, or that column has been removed from the d

[2019-12-19 22:16] kspurgin commented on #169
I added new Osteology sample data to test with in branch: [i169-safer-field-group-iteration](https://github.com/collectionspace/cspace-converter/tree/i169-safer-field-group-iteration)

[This file](https://github.com/collectionspace/cspace-converter/blob/i169-safer-field-group-iteration/data/anthro/osteology_anthro_sparse1.csv) is the situation with Osteology data we need to load now. The client ha

[2019-12-20 01:27] kspurgin commented on #169
@Paulmulonzia -- I have fixed this issue for the missing osteoAgeEstimateVerbatim in the anthro/osteo module.

I would like to pass this issue to you to work on refactoring the rest of the places in the code where we build a field group iteratively on a field that may not be populated.

This is lower-priority work, because it is refactoring the things that are not currently blocking work we need t

[2019-12-24 23:48] kspurgin opened #171 "CSV headers with irregular name forms"
collectionobject -- anthro

- commingledRemainsSex - collectionobjects_anthro:commingledRemainsGroupList/commingledRemainsGroup/sex, which collides with collectionobjects_common:sex when using base fieldName as CSV header
- productionPeopleEthnoculture AND productionPeopleArchculture - both map to collectionobjects_common:objectProductionPeopleGroupList/objectProductionPeopleGroup/objectProduction

[2020-01-02 09:23] Paulmulonzia commented on #97
Hi @meganforbes,

I did test on core.dev and the date fields do seem to import:

https://core.dev.collectionspace.org/cspace/core/record/acquisition/32ee5d98-8455-49bd-91f6

![image](https://user-images.githubusercontent.com/34029747/71660006-b0847a00-2d5a-11ea-87fc-55260996817b.png)

@mark-cooper could there be a variation in different collectionspace domains in terms of the structure?

[2020-01-02 14:33] kspurgin commented on #169
The branch in #170 is identical to the branch in #160, so I'm going to get rid of #170.

[2020-01-02 15:06] Paulmulonzia commented on #169
Hi @kspurgin,

Thanks for the update.

I tried applying the fix but got the error below:

"import_message": "undefined method `add_group_list_with_structured_date' for CollectionSpace::Tools::XML:Class",

![image](https://user-images.githubusercontent.com/34029747/71673745-9cf10780-2d8a-11ea-9c97-0deb4f223af2.png)

[2020-01-03 14:41] kspurgin commented on #169
Hi @Paulmulonzia -- I think the pull request needs to be reviewed by Mark and merged into the master branch before using it like that will work (?).

 Until then,`add_group_list_with_structured_date` is only defined in [this branch](https://github.com/collectionspace/cspace-converter/tree/i157-anthro-collobject), so if you aren't working in that branch, you'll get a message that method (and others

[2020-01-03 15:35] Paulmulonzia commented on #169
Hi @kspurgin,

Sure, that sounds good.

Thanks.

[2020-01-08 23:21] #169 closed

[2020-01-09 21:10] mark-cooper commented on #133
@Paulmulonzia I updated and merged your branch. There are a few issues remaining:

Discontinued and production date were not working so I commented them out for now. I want to remove all `rescue nil` and `if attributes[$]` type error handling from the mappings so if you find yourself wanting to do that then let me know so I can look into a better way of doing it.

The `typicalSizeDimension` stuff,

[2020-01-14 22:12] kspurgin opened #175 "Inconsistent conversion of unstructured date data"
I think this may be something to handle in the Cspace application, not the converter tool, but perhaps not.

We have this widget in the UI that just opens a simple calendar and lets you select a day.
![image](https://user-images.githubusercontent.com/450570/72386841-2809c000-36f0-11ea-9e42-a28806fa49b9.png)

In anthro collection object/annotationDate, the result of entering or choosing a date is:

[2020-01-14 22:27] kspurgin commented on #175
@mark-cooper -- thoughts?

[2020-01-14 23:27] mark-cooper commented on #175
@kspurgin not another variation! 😖
Would it work to just call the date parser directly (not going through a helper)? Something like:

[code]

We can ask Ray / Megan about the cspace side of things tomorrow ... I don't think I've come across a parsed date outside of a date group before so I'm not sure what the deal is there.

[2020-01-15 01:10] kspurgin commented on #175
Unfortunately I don't think we can send the data through the date parser directly because these occur in various multivalue/nesting configurations that get handled via the helpers which rely on apply_transforms.

Bleh.

Fairly simple to write the variation, but it conceptually annoys me that we should have to when the UI doesn't allow to to enter a time value for these at all, so the extra specifi

[2020-01-17 21:07] meganforbes commented on #97
Looks like copy/pasting to Excel switched the date formats around from the CSV, so I fixed that and regular calendar dates import fine. Text strings, e.g. ca. 1945, not so much. @mark-cooper @kspurgin - thoughts?

[2020-01-17 21:20] meganforbes commented on #90
Tool does not appear to be accepting multiple values in movementMethod or inventoryContact fields.

[2020-01-22 15:17] meganforbes commented on #89
Updated data sample attached. Field names updated to match current style (i.e. currentOwnerOrganization, currentOwnerPerson) for fields that point to multiple vocabs.

Data not importing into exitDateGroup, other date fields appear fine.

[Object Exit Data Sample.xlsx](https://github.com/collectionspace/cspace-converter/files/4097984/Object.Exit.Data.Sample.xlsx)

[2020-01-22 19:20] #175 closed

[2020-01-22 20:03] meganforbes commented on #88
Loan status fields not accepting multiple values. Sample data updated to include multiple values in line 1. Also two new fields added to record since data dictionary was first created - add to profile?
[Loan Out Sample Data.xlsx](https://github.com/collectionspace/cspace-converter/files/4099695/Loan.Out.Sample.Data.xlsx)

[2020-01-22 20:14] meganforbes commented on #90
Updated sample data attached. Changes - added new columns using updated style for normalLocationStorage, normalLocationOrganization, currentLocationStorage, and currentLocationOrganization.

Added multi values to two multi valued fields noted above.
[LMI Sample Data.xlsx](https://github.com/collectionspace/cspace-converter/files/4099730/LMI.Sample.Data.xlsx)

[2020-01-22 22:04] #92 closed

[2020-01-22 22:14] mark-cooper commented on #97
We can try and parse a date out a string like "ca. 1945" perhaps ... that sort of thing tends to be a rabbit hole though. Probably better if we just set the expectation that dates should be formatted correctly (in whatever documentation we are providing), otherwise they'll be skipped.

@meganforbes apart from the date issue is this one done?

[2020-01-22 22:58] mark-cooper opened #180 "Converter profile for CORE conditioncheck"

[2020-01-22 23:04] mark-cooper opened #181 "Converter profile for CORE conservation"
Work underway: https://github.com/collectionspace/cspace-converter/pull/173

[2020-01-22 23:05] mark-cooper opened #182 "Converter profile for CORE intake"

[2020-01-22 23:06] mark-cooper opened #183 "Converter profile for CORE exhibition"

[2020-01-23 16:17] Paulmulonzia commented on #89
Thanks @meganforbes, looking into it.

@kspurgin, Please advice on how to transform structured dates for single fields (not in grouplist):

https://github.com/collectionspace/cspace-converter/blob/DDD-Core-conservation_08-01-2020/spec/fixtures/files/core_objectexit.xml#L20-L44

I've tried add_date_group(xml, field, date) and I am getting the error:

"undefined method `display_date' for \"exitdateg

[2020-01-23 17:34] kspurgin commented on #89
@Paulmulonzia -- I don't think the handling of structured dates for single fields (not in grouplist) has changed

My advice is: use the search function within the cspace-converter repo in Github to search for other uses of add_date_group

From looking just at the [search results page here](https://github.com/collectionspace/cspace-converter/search?q=add_date_group&unscoped_q=add_date_group) and yo

[2020-01-24 08:14] Paulmulonzia commented on #89
Got it.

Thanks @kspurgin

[2020-01-24 17:57] kspurgin opened #188 "Pass unparseable structured date values through as display date"
For date values such as "Early 20th century" or "ca. 1950" as input to a structured date field, have date parser just send the string through as the blahBlahDateGroup/dateDisplayDate value if it cannot recognize/parse a date.

@mark-cooper - should scalarValuesComputed be explicitly set to false in such a case?

[2020-01-27 11:37] Paulmulonzia commented on #183
Hi @kspurgin,

All fields updated on exhibition.

Pending item: add_group_list_with_structured_date not accepting two date fields(galleryRotationStartDateGroup and galleryRotationEndDateGroup), I tried using the two date fields as an array as well which also didn't work:

https://github.com/collectionspace/cspace-converter/blob/33331f81f6a6a977fc259ef544de99d2e711e192/lib/collectionspace/converter

[2020-01-27 11:51] Paulmulonzia commented on #183
Records with null values on both **exhibitionPersonOrganization** and **exhibitionPersonPerson** (part of nested grouplist) e.g. Record 005 and 013 failing on import with the error message: "undefined method `split' for nil:NilClass"

[2020-01-27 13:59] kspurgin commented on #183
@Paulmulonzia  RE: add_group_list_with_structured_date not accepting two date fields

Nope, it wouldn't accept them because it was written assuming there was only one.

I will update it to accept/handle an array of date fields to treat as groups, but I will not be able to work on that until late Tuesday at the earliest.

[2020-01-27 14:19] Paulmulonzia commented on #181
Hi @mark-cooper, I pushed a new branch (Ddd core conservation 09 01 2020), you can close the old one (Ddd core conservation 08 01 2020).

Thanks.

[2020-01-27 14:36] kspurgin opened #190 "Handle multiple structured date fields in one grouplist"
Paul reported [here](https://github.com/collectionspace/cspace-converter/issues/183#issuecomment-578709130)

Blocks #183

[2020-01-27 14:40] kspurgin opened #191 "Null values in all multi-authority columns croaks"
Paul reported [here](https://github.com/collectionspace/cspace-converter/issues/183#issuecomment-578713382). Blocks #183

[2020-01-27 15:05] Paulmulonzia commented on #183
Sounds good, thanks @kspurgin.

[2020-01-28 12:30] Paulmulonzia commented on #88
@meganforbes, Loan status fields updated. I've made a pull request with the new changes.

[2020-01-28 12:31] Paulmulonzia commented on #89
@meganforbes, exitDateGroup updated as well as the new field names.

[2020-01-28 14:02] meganforbes opened #195 "Import relationships not working?"
Used these three files to add movement records, cataloging records, and relationships between in the converter tool. Movement and Cataloging records imported fine, Relationships looked like they worked in the tool but do not appear in CSpace. Files used attached.

Did not nuke or delete from core converter tool so you can take a look.

[OHC_Object_Test_Jan27_1.xlsx](https://github.com/collectionsp

[2020-01-28 14:24] kspurgin opened #196 "Look into creating/improving method for add_list"
From Paul: "Hi @kspurgin, is it possible to have something similar to CSXML.add_single_level_group_list for add_list.

Here's an instance I think it would be useful:

https://github.com/collectionspace/cspace-converter/blob/DDD-Core-cataloging_27-01-2020/lib/collectionspace/converter/core/collectionobject.rb#L132-L138"

[2020-01-28 21:24] #157 closed

[2020-01-28 22:25] kspurgin commented on #191
So, in testing this, I found it is not simply null values on both exhibitionPersonOrganization and exhibitionPersonPerson causing the problem.

I added a minimal record with null values on both exhibitionPersonOrganization and exhibitionPersonPerson to the sample data and I get no errors when testing conversion of that row.

[2020-01-28 22:45] kspurgin commented on #191
The problem was instead where some of the fields within the nested workingGroupList are populated, but one or more of the child fields are not present.

[2020-01-28 22:50] kspurgin commented on #191
@Paulmulonzia - this is fixed. I merged my changes into the `DDD-Core-Exhibition_07-01-2020` branch

[2020-01-28 22:51] #191 closed

[2020-01-28 22:52] kspurgin commented on #188
To @mark-cooper for code review/possible merge.

[2020-01-29 11:24] Paulmulonzia commented on #191
Thanks @kspurgin

[2020-01-29 13:03] Paulmulonzia commented on #113
HI @kspurgin, currently dimensions helper script not splitting values for the field **dimensionSummary** which is multi-valued in cspace.

[2020-01-29 14:55] kspurgin commented on #113
@Paulmulonzia Will you create an issue for the dimensions issue and assign it to me? Please link it to this issue by mentioning it "blocks #113"

Not sure when I will I will be able to look at it. This week is packed with stuff on deadlines.

[2020-01-29 15:03] Paulmulonzia commented on #113
No worries, let me create it.

[2020-01-30 19:02] #188 closed

[2020-02-04 15:29] meganforbes commented on #182
All data imported properly.

[2020-02-04 15:29] #182 closed

[2020-02-04 16:18] #195 closed

[2020-02-05 22:08] kspurgin commented on #190
This is fixed in PR #200

I initially thought Paul was having the same problem on branch:DDD-Core-Exhibition_07-01-2020 and branch:DDD-Core-acquisition_30-01-2020.

I initially made changes in branch:DDD-Core-Exhibition_07-01-2020. When that was working correctly, I merged those changes into branch:DDD-Core-acquisition_30-01-2020 (which is the branch in PR #200, so that PR ends up having some impr

[2020-02-05 22:13] kspurgin commented on #196
@Paulmulonzia - `add_single_level_group_list` already can do this. We don't need a separate `add_list` function.

Prefer not to use `add_list` going forward. I hope to refactor existing code sometime soon to remove it altogether (because its presence is confusing).

See my comment here: https://github.com/collectionspace/cspace-converter/pull/200#discussion_r375519845

[2020-02-05 22:13] #196 closed

[2020-02-05 22:33] #158 closed

[2020-02-06 08:01] Paulmulonzia commented on #196
Well noted, thank you @kspurgin.

[2020-02-06 21:26] kspurgin commented on #159
I merged current master into the i159-ohc-object-full branch just now.

@mark-cooper - let me know if there's anything I can help with on this

[2020-02-06 21:32] kspurgin opened #201 "kill 'add_lists'"
Replace with this kind of thing...

[code]

[2020-02-07 14:06] Paulmulonzia commented on #183
Hi @kspurgin,

The transform function fails to match the second field of **exhibitionPerson** which is multivalued. The first field test is successful.

https://github.com/collectionspace/cspace-converter/blob/98a60a0ee212353817cb2d043e451265998f5f42/spec/collectionspace/converter/core/exhibition_spec.rb#L26

Here's the error message:

![image](https://user-images.githubusercontent.com/34029747/74

[2020-02-07 14:24] kspurgin commented on #183
Paul, can you please create an issue [here](https://github.com/collectionspace/cspace-converter/issues) for this problem and assign it to me.

If you are unable to create issues, let me know.

[2020-02-07 15:10] Paulmulonzia opened #202 "Transforms Spec function Unable to match second field for multi-valued fields."
The transform function fails to match the second field of exhibitionPerson which is multivalued. The first field test is successful.

https://github.com/collectionspace/cspace-converter/blob/98a60a0ee212353817cb2d043e451265998f5f42/spec/collectionspace/converter/core/exhibition_spec.rb#L26

Error encountered:

![image](https://user-images.githubusercontent.com/34029747/74040650-27a1d380-49d5-11ea-

[2020-02-07 15:11] Paulmulonzia commented on #183
Sure, here's the link: https://github.com/collectionspace/cspace-converter/issues/202

[2020-02-07 17:44] kspurgin commented on #202
@Paulmulonzia -

The XML the converter is generating includes:

[code]
The failing xpath is:

[code]
This is looking in the first `workingGroup`.
It is then looking for the second `exhibitionPersonGroup`.
But there is only one `exhibitionPersonGroup` in the first `workingGroup/exhibitionPersonGroupList`.

That's why you are getting a nil match.

If you are trying to test the "Rosemarie Langager" `

[2020-02-07 20:52] #90 closed

[2020-02-07 21:09] meganforbes commented on #89
Field missing (wasn't in original sample data set) - deaccessionApprovalIndividual. Updated data set attached here.
[sample_data_objectexit_core_all.xlsx](https://github.com/collectionspace/cspace-converter/files/4172941/sample_data_objectexit_core_all.xlsx)

[2020-02-07 21:22] meganforbes commented on #88
Two fields missing, loan status group and loan status individual.

[2020-02-07 21:27] #181 closed

[2020-02-07 22:47] Paulmulonzia commented on #202
@kspurgin makes total sense, thank you.

So I noticed the current fixture file was misleading as it has the following structure:

[code]

That's why I had the spec look for the second exhibitionPersonGroup in the first workingGroup.

I am pushing the updated fixture file + spec.

Thanks.

[2020-02-09 15:31] Paulmulonzia commented on #88
Hi @meganforbes,

Missing fields added, **borrowerPerson** also added to converter and sample data to allow support for both organization and person authorities for the field **borrower**.

Thanks.

[2020-02-09 16:29] Paulmulonzia commented on #89
Added deaccessionApprovalIndividual and deaccessionApprovalNote.

[2020-02-10 14:48] #202 closed

[2020-02-12 08:53] Paulmulonzia opened #208 "Pairs and Repeats unable to transform structured dates."
Hi @kspurgin,

Pairs and Repeats seem not to be able to transform structured dates.

I am trying to achieve this structure:

`<objectProductionDateGroupList>
      <objectProductionDateGroup>
        <scalarValuesComputed>true</scalarValuesComputed>
        <dateEarliestSingleCertainty/>
        <dateEarliestSingleQualifierUnit/>
        <dateDisplayDate>2016</dateDisplayDate>
        <dateLatestS

[2020-02-12 09:25] Paulmulonzia opened #209 "Multi value support for measured part group helper"
@kspurgin,

for the dimensions and measured part group fields, we have the **add_measured_part_group_list** helper script which at the moment has the following issues:

1. Not splitting values in some of the multi valued fields. (measurementMethod, valueQualifier).
2. No support for different authorities for measuredBy (has both person and organization authority in cspace).

Let me know If I shoul

[2020-02-13 13:24] Paulmulonzia opened #210 "Converter profile for Loans In"
@meganforbes, I had to remove second values for the borrower's fields since they are not multivalued in cspace.

[2020-02-13 16:10] #183 closed

[2020-02-13 16:36] meganforbes commented on #97
Accession dates and Acquisition dates still not working, whether calendar or fuzzy (e.g. ca. 1945). Both need to work, we talked in our dev meeting about putting fuzzy dates in just as is, and then creating a data update that would run them through the parser after the fact.

[2020-02-13 17:14] Paulmulonzia opened #213 "Converter profile for Valuation"

[2020-02-13 18:23] meganforbes commented on #96
Lots of changes made to converter since this was completed. Updated sample data attached with improved column names for fields that point to more than one authority, repeatable values in all repeatable fields (including repeatable sub-fields), and one row blank except for required field.

[sample_data_media handling_core_all.xlsx](https://github.com/collectionspace/cspace-converter/files/4200265/s

[2020-02-13 19:22] meganforbes opened #214 "Nomenclature Hierarchy Import Failing"
As the title says, the nomenclature hierarchy import is failing. The terms themselves imported correctly. Hierarchy import error messages read like: can't find CSID for  Swag-Window & Door Coverings, but Swag-Window & Door Coverings is two terms, Swag is the narrower and Window & Door Coverings is the broader.

Sample import file (which worked) attached. Full files in CSpace Basecamp.

[Nomenclatu

[2020-02-17 08:43] Paulmulonzia commented on #209
blocks https://github.com/collectionspace/cspace-converter/pull/216 and https://github.com/collectionspace/cspace-converter/pull/217

[2020-02-17 11:52] Paulmulonzia commented on #208
achieved the desired structure by using **CSXML::Helpers.add_date_group_list** and **CSXML::Helpers.add_date_group** which after pulling new updates from master could now split multi valued fields.

[2020-02-17 11:52] #208 closed

[2020-02-24 13:20] Paulmulonzia commented on #113
Fixed in https://github.com/collectionspace/cspace-converter/pull/229

[2020-02-25 08:31] Paulmulonzia commented on #209
updated measured part group list to use **CSXML.add_nested_group_lists** in the helper script to fix the issue.

[2020-02-26 18:32] #209 closed

[2020-02-28 20:39] meganforbes commented on #87
@mark-cooper I need to update the sample data to remove the delimiters in the termDisplayName field. I remember our previous conversation that I should create another column that includes non-preferred terms, what's your preference for what to call that column? Is termDisplayNameNonPreferred ok, and then we can use that for all authorities?

[2020-02-28 20:42] mark-cooper commented on #87
@meganforbes it's a bit of mouthful but if it works for you it's ok with me -- and yes, i agree we should use it across all authorities.

[2020-02-28 20:45] meganforbes commented on #87
@Paulmulonzia @kspurgin Updated sample data for Person attached. Please see above couple of notes from Mark re: how to manage repeating values in termDisplayName field.

[Person Authority.xlsx](https://github.com/collectionspace/cspace-converter/files/4269032/Person.Authority.xlsx)

[2020-03-05 08:53] Paulmulonzia commented on #87
Hi @mark-cooper,

Thanks for the update in regards to the field **termDisplayName**

Kindly clarify on the following:

1. Should we also have the rest of the fields in personTermGroup as single valued since if we only change termDisplayName to be single valued, transfer to cspace fails as there is a second personTermGroup created that does not have termDisplayName which is a required field.

2. Wh

[2020-03-05 09:44] Paulmulonzia opened #242 "Converter profile for Place Authority"

[2020-03-05 09:45] Paulmulonzia opened #243 "Converter profile for Storage Location Authority"

[2020-03-09 14:01] meganforbes commented on #97
Dates working.

[2020-03-09 14:01] #97 closed

[2020-03-09 14:22] #214 closed

[2020-03-09 15:48] meganforbes commented on #88
QA complete.

[2020-03-09 15:48] #88 closed

[2020-03-09 16:06] meganforbes commented on #89
QA complete.

[2020-03-09 16:06] #89 closed

[2020-03-10 14:53] meganforbes opened #244 "Total records not matching rows in CSV"
Working on sample data for upcoming CollectionSpace QA. Used the attached file in CSV format, converter showed a total of 64 rows, but there are only 32 in the file. Only 32 rows were processed/transferred.

XLS attached instead of CSV as GitHub won't allow CSV attachments. Note that I removed the extra rows/column when I saved as CSV.

![image](https://user-images.githubusercontent.com/6516857/76

[2020-03-10 14:55] meganforbes commented on #244
Accession date and Acquisition date did not transfer from the attached file either, although I just closed an issue yesterday with the same problem as it seemed to be working.

[2020-03-11 13:50] meganforbes commented on #244
Happened again.

![image](https://user-images.githubusercontent.com/6516857/76423784-acd62a80-637d-11ea-9926-739062eb1ccb.png)

[2020-03-11 20:51] #244 closed

[2020-03-13 14:48] meganforbes commented on #98
Unable to QA this, getting the error message "Import error: ERROR: missing headers: objectnumber" with sample data pulled from https://github.com/collectionspace/cspace-converter/blob/master/data/core/cataloging_core_excerpt.csv.

@mark-cooper

[2020-03-16 18:43] mark-cooper commented on #87
Hi @Paulmulonzia

I think the current position is to have `termDisplayName` and fields related to the `termDisplayName` be single valued.

Then `termDisplayNameNonPreferred` and fields related to `termDisplayNameNonPreferred` can be multi-valued.

The data for the fields related to the above name forms needs to be consolidated into a single structure to create a single `personTermGroupList`.

Beca

[2020-03-17 15:23] Paulmulonzia commented on #87
Thanks @mark-cooper.

I have updated the sample data with fields related **termDisplayName** returned to single value.

I have also mapped **termDisplayNameNonPreferred** to **termFormattedDisplayName**.

Pull request - https://github.com/collectionspace/cspace-converter/pull/246

[2020-03-23 11:18] meganforbes commented on #133
@Paulmulonzia can you update on current status?

[2020-03-23 12:06] Paulmulonzia commented on #133
Hi @meganforbes pushing an update shortly to fix discontinued/production date and dimensions fields.

Thanks.

[2020-03-23 12:51] #210 closed

[2020-03-23 13:30] meganforbes commented on #242
@Paulmulonzia Can you add the CSV data to the data repository?

[2020-03-23 13:30] meganforbes commented on #243
@Paulmulonzia Can you add the CSV data to the data repository?

[2020-03-23 13:57] Paulmulonzia commented on #242
Hi @meganforbes,

Sure, it's part of the pull request and will be available on the master branch once merged by Mark.

Thanks.

[2020-03-25 16:22] #159 closed

[2020-03-27 16:13] meganforbes opened #251 "No Exhibition type in Transfer dropdown"
Exhibition CSV imported fine, but no Exhibition option in the Transfer Type dropdown.

![image](https://user-images.githubusercontent.com/6516857/77776374-4b23ea80-7024-11ea-8f30-ab939feb8370.png)

[2020-03-30 11:32] Paulmulonzia opened #253 "Converter profile for Organization Authority"

[2020-03-30 11:32] Paulmulonzia opened #254 "Converter profile for Citation Authority"

[2020-03-30 11:33] Paulmulonzia opened #255 "Converter profile for Work Authority"

[2020-04-07 15:57] Paulmulonzia commented on #133
Hi @kspurgin @mark-cooper , I am having issues with transfer jobs to cspace.
I am encountering the following error:

**Error during transfer: undefined method `body' for #<CollectionSpace::Response:0x0000563958406b58>**

But when I update an existing record, the operation is successful.

This error comes up despite having implemented the [authority identifier ](https://github.com/collectionspace/c

[2020-04-10 17:07] kspurgin opened #261 "treat MongoDB as a more persistent thing"
What does this look like, especially for supporting those of us who work across tenants/profiles/clients?

[2020-04-10 17:14] kspurgin opened #262 "revisit role of cache if CSpace API paging performance issue is solved"
If API performs faster and we are treating MongoDB as a persistent thing, perhaps we do not need cache?

[2020-04-11 02:12] mark-cooper commented on #133
@Paulmulonzia sorry for the delay! Will take a look next week.

[2020-04-13 14:28] kspurgin opened #264 "Error transferring authority from converter to CSpace"
Error occurs after:

 - objects are successfully imported into converter tool
 - attempt is made to to transfer objects to Cspace

Error received:

Error during transfer: undefined method `body' for #CollectionSpace::Response:0x0000563958406b58

@Paulmulonzia reported this issue [here](https://github.com/collectionspace/cspace-converter/issues/133#issuecomment-610471415).

@kspurgin reported the s

[2020-04-13 19:45] mark-cooper commented on #264
@kspurgin @Paulmulonzia that specific error message has been resolved:

https://github.com/collectionspace/cspace-converter/pull/265

That should allow you to see what the error message is from cspace. In my limited testing I wasn't finding errors, but I did get one when deleting a personauthority record where the real error was:

[code]

[2020-04-14 11:06] Paulmulonzia commented on #264
Hi @mark-cooper, thank you for the update.

This is the specific error being encountered:

Error response: Create request failed: org.nuxeo.ecm.core.api.ConcurrentUpdateException: Failed to save session, Concurrent update

Thanks.

[2020-04-14 15:34] mark-cooper commented on #264
I've never seen that one before. @ray-lee is that error familiar to you at all?

[2020-04-15 18:17] kspurgin commented on #264
Oh hooray, I got a different error:

Error response: /conceptauthorities/urn:cspace:name(nomenclature)/items POST

@mark-cooper

[2020-04-15 18:28] abbistani commented on #264
@kspurgin From the server logs:

`2020-04-15 14:15:37,171 ERROR [http-nio-8180-exec-462] [org.collectionspace.services.common.security.SecurityInterceptor:204] Access to 1885:conceptauthorities#create is NOT allowed to  user=converter@lyrasistechnology.org`

[2020-04-15 18:30] kspurgin commented on #264
OHC's server logs? Do I have access to those and if so how would I find them?

(Thanks, @abbistani )

[2020-04-15 18:35] abbistani commented on #264
Do you have access to the AWS management console?  If not, Blake can probably set you up.  Then you can get to Cloudwatch, the logging service.  I suspect I'm not doing it right, because it's pretty painful to use when you're used to just grepping text.

[2020-04-15 18:49] meganforbes commented on #98
@mark-cooper Still an issue - can't import the data from the sample data. XLS version of just the first few lines in the sample data attached.

[Sample Cataloging.xlsx](https://github.com/collectionspace/cspace-converter/files/4483153/Sample.Cataloging.xlsx)

[2020-04-15 19:06] mark-cooper commented on #264
@abbistani thx. @kspurgin I updated the permissions for the CT user so they can now create concepts. If you want to see the full list of permissions see the "Converter Tool" role in the website.

[2020-04-15 19:19] kspurgin commented on #264
👍 The transfer of new/missing Nomenclature terms worked.

[2020-04-15 20:42] mark-cooper commented on #264
@Paulmulonzia it looks like your problem is because you imported the authority terms and then deleted them so the short identifiers exist in the system and can't be reimported again. Because we're using deterministic short identifiers there's no way to reimport the same term twice (i.e. DragonSkin3467564856), and you can't update the record to revive it (from the deleted workflow state) because we

[2020-04-16 09:37] Paulmulonzia commented on #264
Hi @mark-cooper, got it, added a few characters to the display name to make the identifier unique and the transfer was successful.

Thanks.

[2020-04-16 16:38] Paulmulonzia opened #266 "Converter profile for Taxon Authority"

[2020-04-17 14:40] Paulmulonzia opened #268 "Converter profile for Nagpra_Anthro_All"
Mapping:

https://github.com/lyrasis/cspace-converter/blob/master/lib/collectionspace/converter/anthro/nagpra.rb

[2020-04-17 23:31] Paulmulonzia opened #269 "Fields Mapped under wrong namespace"
Hi @mark-cooper, I have an issue when mapping the nagpra claims profile whereby fields under the namespace **ns2:claims_common** are being mapped in **ns2:claims_nagpra**. This is despite the fields being properly mapped in the converter as shown [here](https://github.com/collectionspace/cspace-converter/blob/DDD-Anthro-Nagpra_16-04-2020/lib/collectionspace/converter/anthro/nagpra.rb)
 The xml str

[2020-04-17 23:33] Paulmulonzia commented on #269
Blocks https://github.com/collectionspace/cspace-converter/issues/268

[2020-04-18 00:08] mark-cooper commented on #269
Hi @Paulmulonzia

Can you clarify which field specifically is a problem? I don't think I can spot a problem with fields mapping to the wrong place.

The error message is saying that it doesn't accept "nagpraClaimInitialResponseNote", which is part of the mapping for "claims_nagpra", which appears to set by:

https://github.com/collectionspace/cspace-converter/blob/DDD-Anthro-Nagpra_16-04-2020/lib/

[2020-04-18 00:23] Paulmulonzia commented on #269
Yes nagpraClaimInitialResponseNote is available in the xml, here's the fixture [file](https://github.com/collectionspace/cspace-converter/blob/DDD-Anthro-Nagpra_16-04-2020/spec/fixtures/files/anthro_nagpra.xml#L139)

The affected fields are all fields under **[claimantGroupList](https://github.com/collectionspace/cspace-converter/blob/DDD-Anthro-Nagpra_16-04-2020/spec/fixtures/files/anthro_nagpra.

[2020-04-18 00:37] Paulmulonzia commented on #269
Only the field **claimNumber** is being created in **claims_common**. The two grouplists (claimantGroupList and claimReceivedGroupList.) are somehow being created in **claims_nagpra**.

![image](https://user-images.githubusercontent.com/34029747/79623604-e2f98d80-8125-11ea-994d-f40834757513.png)

[2020-04-18 00:57] mark-cooper commented on #269
For the "nagpraClaimInitialResponseNote" error see:

https://github.com/collectionspace/cspace-converter/blob/DDD-Anthro-Nagpra_16-04-2020/lib/collectionspace/converter/anthro/nagpra.rb#L175

"nagpraClaimInitialResponseNote" should be "nagpraClaimNatlRespNote"

I was then able to transfer and delete the record from anthro.dev.

I have to wrap up for the day so I can't get to the others right now.

[2020-04-20 12:00] Paulmulonzia commented on #269
Thanks @mark-cooper, the grouplists weren't being created due to small typo. Everything works fine now.

[2020-04-20 12:01] #269 closed

[2020-04-20 22:05] mark-cooper commented on #264
@Paulmulonzia great, thx for the update 👍

[2020-04-27 20:33] meganforbes opened #272 "Converter issues with Cataloging and Persons"
Uploaded all CSV files to this Google folder along with a sheet that notes the error messages I received. Also included copies of CSV files that were successfully uploaded.

https://drive.google.com/drive/folders/1xRIWNT1X_MrtQgV0O1rZKeL_SWaL81it?usp=sharing

[2020-04-28 14:21] kspurgin commented on #272
I will try to improve the error handling for the "Import error: invalid byte sequence in UTF-8" error.

I don't think we want to do anything automatically to "fix" this since it'd almost certainly cause data garbling or loss.

[2020-04-28 18:21] kspurgin commented on #272
@meganforbes - can you upload your original "Cataloging CSV First 10" that got the "Import error: invalid byte sequence in UTF-8" error?

I am seeing the "Import error: ERROR: missing headers: objectnumber" but cannot test for the other issue with this file. Thanks!

[2020-04-28 18:40] kspurgin commented on #272
With the copy of Cataloging CSV First 10 saved as UTF-8 in Excel, examination of the first row's first cell shows:

[code]
`"\xEF", "\xBB", "\xBF"` is the notorious Excel BOM causing trouble as usual. I thought I saw a PR a while back that added handling for Excel BOM, so I will poke at why this is causing a problem now

[2020-04-28 19:39] kspurgin commented on #272
@mark-cooper - I'm baffled why the missing header error shows up.

In IRB this does not throw an error:

[code]

This does FAIL with the:

[code]

Remove the `row_sep` option and it does NOT fail:

[code]

[The SmarterCSV gem docs](https://github.com/tilo/smarter_csv/tree/1.2-stable) says re: `row-sep`: "This can also be set to :auto, but will process the whole cvs file first  (slow!)"

I am guess

[2020-04-29 16:05] kspurgin opened #273 "need to set up concept profile(s)"
In @meganforbes [spreadsheet](https://docs.google.com/spreadsheets/d/1IP_jfKx-OJhQFa9gCXGd_pDrklNyAlAuOgEOym46t-k/edit#gid=0) for [this issue](https://github.com/collectionspace/cspace-converter/issues/272), it also mentions "Concept First 10 | No profile yet?"

@meganforbes -- what kind of concept should these load as?

@mark-cooper -- am I correct that we will need to set up a converter profile

[2020-04-29 16:17] kspurgin opened #274 "Better handling of "Import error: invalid byte sequence in UTF-8" error"
Uploading/importing the following file fails and returns "Import error: invalid byte sequence in UTF-8" error.

[utf-8_error_cataloging.csv.zip](https://github.com/collectionspace/cspace-converter/files/4552902/utf-8_error_cataloging.csv.zip)

With a large file, it is difficult to locate the offending byte sequence.

Ideally, report what row+column contains the problem, and what the offending byte

[2020-04-29 16:22] kspurgin opened #275 "CSV encoding causes spurious "Import error: ERROR: missing headers""
(This represents one of the issues reported by @meganforbes in https://github.com/collectionspace/cspace-converter/issues/272 )

When importing a file (such as the following) saved as a UTF-8 CSV out of Excel, the BOM causes the required header not to be recognized:

[Cataloging CSV First 10.csv.zip](https://github.com/collectionspace/cspace-converter/files/4552942/Cataloging.CSV.First.10.csv.zip)

[2020-04-29 18:54] kspurgin commented on #272
I have documented what @meganforbes reported here as the 3 separate issues linked above. I have copied the relevant info from comments to the appropriate new issues.

Because Megan was able to complete what she was trying to do with these files, I will mark this done.

The solution that worked was using LibreOffice Calc (free/open source spreadsheet application) to save the files. LibreOffice Calc

[2020-04-29 18:54] #272 closed

[2020-05-05 16:57] Paulmulonzia opened #276 "Update converter profile: Storage Location - Public Art"

[2020-05-07 09:07] Paulmulonzia opened #277 "PublicArt Import Error: no implicit conversion of String into Integer"
Hi @mark-cooper @kspurgin ,

I am encountering the following error when importing Location/Movement/Inventory data for the PublicArt converter module:

![image](https://user-images.githubusercontent.com/34029747/81275971-0f386800-905b-11ea-81fb-cb5a18bb85e5.png)

[2020-05-07 14:19] kspurgin commented on #277
You're getting this error on this branch? https://github.com/collectionspace/cspace-converter/tree/DDD-PublicArt-LMI_04-05-2020

[2020-05-07 14:49] Paulmulonzia commented on #277
Yes, that's the one

[2020-05-07 14:50] kspurgin commented on #277
Ok, I'm in the middle of testing something else in the tool, but I'll look at this next! Thanks.

[2020-05-07 14:51] Paulmulonzia commented on #277
Great, thank you.

[2020-05-07 14:55] kspurgin opened #279 "Search input and button"
The search input and button look like they are just placeholders and don't do anything.

Do we want to spec out the desired behavior and create a ticket?

Not sure what the imagined use case(s) were. I haven't had any need yet for a simple keyword search while working in converter tool. @meganforbes do you have ideas on this?

I would like to comment out the input and button for now, since they do

[2020-05-07 20:38] kspurgin commented on #277
I believe I have fixed this by updating the config.yml Authorities section under movement to match the current format we are using for core. I pushed the change to the branch.

[2020-05-07 20:47] kspurgin opened #280 "UI improvement: batches: select individual/all/none for deletion"
Add selection to each batch in list and a delete button to delete all selected.

One you are doing serious work or testing with this thing, the batches pile up and all the clicks to delete them all = annoying

[2020-05-08 07:20] Paulmulonzia commented on #277
Works well now, thanks.

[2020-05-08 07:20] #277 closed

[2020-05-08 07:57] Paulmulonzia opened #283 "Update converter profile: Place - Public Art"

[2020-05-08 20:07] Paulmulonzia opened #285 "Update converter profile: Organization - Public Art"
**placementType** not available in fixture file but present in the UI. When feeding in data to the field in the UI, data does not persist on save.

[2020-05-09 17:15] Paulmulonzia opened #288 "Update converter profile: Person - Public Art"

[2020-05-09 19:18] Paulmulonzia opened #290 "Update converter profile: Valuation - Public Art"

[2020-05-11 06:13] Paulmulonzia opened #292 "Xpath Failure: doc was empty."
I am getting an error when running spec tests on valuation control for public arts. The error message is as shown below:

` Failure/Error: expect(doc_text).not_to be_empty, -> { "Xpath for doc was empty: #{xpath}" }
       Xpath for doc was empty: /document/valuationcontrols_common/valuationcontrolRefNumber
`

![image](https://user-images.githubusercontent.com/34029747/81529265-32b72780-9367-11ea-

[2020-05-11 06:20] Paulmulonzia opened #293 "Update converter profile: Exhibition Planning - Public Art"

[2020-05-11 14:54] kspurgin commented on #292
This is really weird. I'm getting the same error, and it doesn't make any sense yet. Looking further...

[2020-05-11 15:20] kspurgin commented on #292
Anthro tests are passing, so I want to compare how those are working to how this one is working.

I added `binding.pry` before [this line](https://github.com/collectionspace/cspace-converter/blob/3b102ef2045f1ab6a1be230c5476ad364b390699/spec/collectionspace/converter/anthro/collectionobject_spec.rb#L141) in anthro collectionobject spec, to get the shortest (# only) document.

[code]
I did the same

[2020-05-11 15:31] kspurgin commented on #292
My solution was going to be: add `remove_namespaces!` to the `get_doc` spec helper method, but [it is already there](https://github.com/collectionspace/cspace-converter/blob/75f4a58566530b13aa9db0eca34bbb5d7038605e/spec/helpers.rb#L29)!

So the problem for this test is that it is setting up the `let(:doc)` without using that helper method, so the namespaces weren't removed.

I just committed a cha

[2020-05-11 15:33] kspurgin commented on #292
This brings my attention to another issue with the converter for publicart/valuation, so please pause until I've explained. I will do that explanation elsewhere since it isn't related to this issue.

[2020-05-11 15:34] #292 closed

[2020-05-15 00:51] #285 closed

[2020-05-15 00:51] #288 closed

[2020-05-15 08:13] Paulmulonzia opened #299 "Update converter profile: Condition Check - Public Art"

[2020-05-16 09:28] Paulmulonzia opened #301 "Update converter profile: Acquisition - Public Art"

[2020-05-18 13:54] kspurgin commented on #301
@Paulmulonzia -- when one of these issues is ready for code review, would you be willing to link it to the relevant pull request over on the right sidebar?

That'll help me keep track of work easier, and also merge of the PR will handle closing the issue.

This can actually be done at any point after both the issue and PR are created. Thanks!

[2020-05-18 14:03] Paulmulonzia commented on #301
Sure, I'll be doing that.

[2020-05-18 21:41] kspurgin commented on #301
@Paulmulonzia - I've created PR #304 to allow comparison of some more extensive changes I ended up making. Once you have had a chance to review all the comments in that code, and we have discussed any questions you have, we can merge those changes into the branch used for your PR #302 , and then merge 302 into master.

[2020-05-18 22:39] kspurgin opened #305 "publicart: organization"
Sample data does not include `placementType` column.

Sample data, XML fixture, and spec should be updated.

[2020-05-19 14:51] kspurgin opened #307 "Add support for locality to anthro collectionobject (OHC request)"
Jessi needs these fields for a project:

vDepth
minDepth
maxDepth
depthUnit

When this is done, notify on this ticket: https://lyrasis.zendesk.com/agent/tickets/7199

[2020-05-19 17:04] kspurgin commented on #301
@Paulmulonzia - check out the following for new rspec pattern documentation: https://github.com/collectionspace/cspace-converter/wiki/Methods-and-patterns-for-Rspec-tests

It refers to code in `test-helpers-and-bugfix` branch, where I am making sure specs are consistent with new patterns documented there.

[2020-05-24 22:16] Paulmulonzia opened #312 "Update converter profile: Conservation - Public Art"

[2020-05-24 23:34] Paulmulonzia opened #313 "Update converter profile: Cataloging - Public Art"

[2020-05-24 23:36] Paulmulonzia commented on #313
Field **computedcurrentlocation** disabled in UI

![image](https://user-images.githubusercontent.com/34029747/82767470-82e6bd00-9e30-11ea-857a-d5d4bd3cfe21.png)

[2020-05-28 14:31] kspurgin opened #315 "Configure all authority/vocabulary fields used in each record type"
I would like to start setting up/including all authority and vocabulary fields used in each record type in the config.

Every user won't actually want these records created and transferred in every case, but it's nice to get the list of values not in the authorities/vocabs as part of the data load and checking process, and you don't have to actually transfer them. Plus, it's easier to comment out

[2020-05-28 17:53] Paulmulonzia opened #317 "Create converter profile - Distribution - Botanical Gardens"
Hi @kspurgin,

Seems the Botgardens config is not available [here](https://github.com/collectionspace/cspace-converter/tree/master/docs/test)

I am trying to figure out the CSPACE_CONVERTER_BASE_URI so that I can feed in sample data.

Thanks.

[2020-05-28 18:12] kspurgin commented on #317
@Paulmulonzia - should be https://botgarden.dev.collectionspace.org/cspace-services

basically if you look at [this](https://github.com/collectionspace/cspace-converter/blob/master/docs/test/ANTHRO.md) and replace anthro with botgarden, I think that should work.

[2020-05-29 18:49] kspurgin commented on #279
I commented out the search input and button. If there is a use case for that function going forward, it can be discussed and added separately. Closing...

[2020-05-29 18:49] #279 closed

[2020-05-29 18:53] kspurgin commented on #255
PR [#322] changes the behavior of work authority converter

[2020-05-29 18:54] kspurgin commented on #254
PR [#322] changes the behavior of this authority converter

[2020-05-29 18:54] kspurgin commented on #253
PR [#322] changes the behavior of this authority converter

[2020-05-29 19:03] kspurgin commented on #87
PR [#322] addresses the non-preferred name handling discussed here.

A value in **termDisplayNameNonPreferred** now populates the **termDisplayName** field in a second **termGroupList/termGroup** without causing an additional record to be generated.

All other **termGroupList/termGroup** fields can also be added to columns with **NonPreferred** appended to the header, and will be treated as expect

[2020-05-29 19:23] Paulmulonzia commented on #317
Thanks @kspurgin, I was using botgardens instead that's why I wasn't able to access the URL.

[2020-05-29 23:13] mark-cooper opened #323 "Transition converter modules away from class methods"
Example starting with:

OHC -> AnthroCollectionobject -> CoreCollectionObject -> CollectionObject

https://github.com/collectionspace/cspace-converter/compare/cleanup-cv-classes?expand=1

Main differences, when redefining fields override initialize:

[code]

Use instance methods, not class methods:

[code]

Call parent call when overriding mapping:

[code]

Extensions are included, i.e. `include C

[2020-06-01 22:19] #276 closed

[2020-06-01 22:22] #313 closed

[2020-06-02 13:51] kspurgin opened #327 "config.yml updates - core - top priority"
- collectionobject
- person
- organization
- acquisition
- location (authority)

See [#329] for details.

[2020-06-02 13:53] kspurgin opened #328 "config.yml updates - core - remaining record types"
Authorities and procedures not included in [#327]

See [#329] for details.

[2020-06-02 13:58] kspurgin opened #329 "config.yml updates - meta"
The idea here is to update the config.yml for every record type in each existing converter profile (core, anthro, etc) to ensure:

- the file is using the current format to specify authority and vocabulary records the converter can create if they don't exist
- each field populated by a vocabulary or authority is configured (as well as each authority for the field if multiple authorities can be use

[2020-06-02 14:03] kspurgin opened #330 "config.yml updates - anthro"
For existing anthro record types. Skip `nagpra`, which needs to be written as an extension module.

See [#329] for details.

[2020-06-02 14:05] kspurgin opened #331 "config.yml updates - publicart"
All existing record types in publicart.

This may already be done, but capturing it here anyway. I'll check this off or update it with details of anything that might be still needed after working through the existing publicart PRs.

See [#329] for details.

[2020-06-02 14:06] kspurgin commented on #329
@Paulmulonzia - if you have general questions re: the config.yml update work, please ask them on this issue, so all that info can be found together.

[2020-06-02 14:11] kspurgin opened #332 "New converter module class: Lhmc: Acquisition"

[2020-06-02 14:12] kspurgin opened #333 "New converter module class: Lhmc: Place"

[2020-06-02 14:12] kspurgin opened #334 "New converter module class: Lhmc: Condition check"

[2020-06-02 14:12] kspurgin opened #335 "New converter module class: Lhmc: Movement"

[2020-06-02 14:13] kspurgin opened #336 "New converter module class: Lhmc: Exhibition"

[2020-06-02 14:13] kspurgin opened #337 "New converter module class: Lhmc: Intake"

[2020-06-02 14:13] kspurgin opened #338 "New converter module class: Lhmc: Loan in"

[2020-06-02 14:14] kspurgin opened #339 "New converter module class: Lhmc: Loan out"

[2020-06-02 14:15] kspurgin opened #340 "Extension module: nagpra"
This needs to be extricated from anthro collectionobject and claim, and moved into its own reusable module.

[2020-06-02 14:17] kspurgin opened #341 "New converter module class: Anthro: Claim"
UI label is "NAGPRA Claim"

Depends on [#340], so don't start this until that is marked complete.

[2020-06-02 14:18] kspurgin opened #342 "New converter module class: Anthro: Intake"

[2020-06-02 14:18] kspurgin opened #343 "New converter module class: Anthro: Person"

[2020-06-02 14:26] kspurgin opened #344 "Taxon authority as extension?"
Taxon authority converter class has been created for anthro.

This authority is also used by bonsai, botgarden, and herbarium, so it should not live in anthro.

The other modules underneath `collectionspace/converter/extension` do not define any classes because they do not produce full record types.

This would be different because it would need to be a class. Should the code for taxon be moved to

[2020-06-02 14:29] kspurgin commented on #344
@mark-cooper - I can handle the work of this if you'll weigh in on putting in as an extension or not.

[2020-06-02 14:30] kspurgin opened #345 "Converter module class update: Anthro: Taxon authority"
This authority should handle non-preferred terms in the way as the core authorities in [#322]

Will eventually be affected by [#344] but that doesn't need to be done first.

[2020-06-02 14:33] kspurgin commented on #315
Later duplicated by [#329]

[2020-06-02 14:33] #315 closed

[2020-06-02 16:36] kspurgin opened #346 "New converter module class: Core: Use of Collections"

[2020-06-04 13:46] kspurgin opened #348 ""Validation of DataObject failed" error while importing Person records via UI"
Importing `person.csv` (can provide on request) in instance of cspace-converter running in Docker on my Mac. Using [`lhmc-person` branch](https://github.com/collectionspace/cspace-converter/tree/lhmc-person) and setup for Breman staging.

Import begins, runs for a long time, produces the following error:

Import error: message: Validation of DataObject failed. summary: The following errors were fo

[2020-06-04 13:49] kspurgin commented on #348
I wasn't aware that we were doing any type of validation beyond checking for required fields. Every row of the CSV does have a value in the only required field: `termdisplayname`

[2020-06-04 14:41] kspurgin opened #349 "Show more informative error when CollectionObject fails validation on uniqueness"
Put another way, show the error summary in addition to the error message and resolution.

See [#348] for the full description of the error, how it arose, and a test file (in the comments).

Details relevant to this issue:

The error displayed in the UI was:

[code]

The output to STDOUT where I had run `rails s` was:

[code]

Out of all that, the only really useful part---the error summary---is om

[2020-06-04 15:00] kspurgin opened #350 "Should entire batch fail when one CollectionSpaceObject fails uniqueness validation?"
See [#348] for full description/background of how this came up.

**Details relevant to this issue:**

Import of 1482-row CSV started at 9:54.

While running, I'm seeing the output to standard out look normal. I'm also seeing both data_objects and collection_space objects written to MongoDB after I started the job.

At about 10:12, the job failed.

The objects that were in MongoDB while the job was

[2020-06-04 15:07] kspurgin opened #351 "STDOUT for `rails s` shows everything twice"
This is sort of just an annoyance, but it does mean you get half the info you would otherwise (unless your terminal is set up to let you scroll back infinitely), and it's NOISE when you are trying to figure out what is going on.

Example:

[code]

[2020-06-04 15:30] kspurgin opened #352 "Add ability to delete values in a field"
Currently, a blank column in a CSV has no effect when updating a CSpace record.

(Possible exception I need to test and document [here](https://collectionspace.atlassian.net/wiki/spaces/COL/pages/1069645829/Behavior+details+Updating+records): field groups -- not sure what happens if you populate some columns but not others and then update)

We want there to be a value we can put in a CSV cell to i

[2020-06-05 13:57] kspurgin opened #353 "Workflow improvements for failed transfers"
<img width="1067" alt="Screen Shot 2020-06-05 at 09 48 47" src="https://user-images.githubusercontent.com/450570/83883764-ed8dd780-a711-11ea-9eb0-010afc4e7513.png">

The main point of this is there should be a way in the UI to see:
- what the 10 transfer failures were
- why they failed (because the records already existed in CSpace, or some other reason)

Also, if they failed because the records a

[2020-06-05 15:48] kspurgin opened #354 "Reciprocal "Terms Used" and "Used By" not set"
When:

- Person using a Place term that does not exist in Cspace is imported, and
-- Person record is transferred before Place record; OR
-- Place record is transferred before Person record; OR
- Person using a Place term that **does** exist in Cspace is imported and transferred...

Then...

- The "Terms Used" in the Person record in the CSpace record looks right and links to the Place record as e

[2020-06-05 16:05] kspurgin commented on #354
This issue was caused by incorrect CSPACE_CONVERTER_DOMAIN value in my .env file.

This value needs to match the name value in the https://github.com/lyrasis/cspace-application/blob/dts-v6.0-delta/tomcat-main/src/main/resources/tenants/breman/settings.xml file.

(Not sure where this file or settings are for non-LYRASIS CSpace users..., but this solves my problem).

[2020-06-05 16:05] #354 closed

[2020-06-09 19:00] kspurgin opened #355 "Improve UI support of reviewing/transferring related authorities/vocabulary terms created by an import"
I am going to use acquisition procedure and the `acquisitionAuthorizer` field (which uses Person authority) as the running example below. This assumes `acquisitionAuthorizer` has been set up for Authority creation in the `config.yml` you are using. **_However_**, this all applies to whatever object/procedure/authority type you are loading and any Authority or Vocabulary fields that have been set u

[2020-06-09 19:11] kspurgin opened #356 "Separate import batches are created for record type imported and related authorities/vocabs created"
Meta-issue: [#355]

When I import a CSV of acquisitions record data containing `acquisitionAuthorizer` values not already in my Person authority...

**Instead of** only seeing a batch with `Type`=`import`, `for`=`acquisition`, and `Batch`=`acquisitions` in the batch list at `http://localhost:3000/batches/`...

**I should see** an additional batch listed with `Type`=`import`, `for`=`Person`, and `B

[2020-06-09 19:21] kspurgin opened #357 "Transfer selected records"
Meta-issue: [#355]
Relates to: [#356]

In any view of an import batch (or a stub/related batch as per #356), I should be able to:
- select all records
- select no records
- select individual records
and then
- click a `Transfer`, `Update`, or `Delete` button to operate on the selected records.

If I am also able to limit the rows/records by:
- whether CSID is populated (i.e. whether it is already

[2020-06-09 19:31] kspurgin opened #358 "Export CSVs from cspace-converter"
It would be useful to be able to export CSVs of data from varying views/steps in the import/transfer process.

[2020-06-09 19:33] kspurgin opened #359 "Export CSV of stub authority/vocabulary terms created"
Meta-issue: #355 #358
Relates to: #356

In any view of a stub/related import batch as per #356, I should be able to export a CSV of the authority/vocabulary terms.

I can turn this into a full authority/vocabulary import CSV with enhanced data, or use it to reconcile the currently unauthorized terms outside CSpace/cspace-converter.

This will have to work a bit differently than a CSV export of fai

[2020-06-24 20:04] #293 closed

[2020-06-24 20:05] #299 closed

[2020-06-24 20:07] #301 closed

[2020-06-24 20:08] #290 closed

[2020-06-24 22:25] jblowe opened #362 "To cache, or not to cache? That is the question"
It is necessary to find the refNames (etc.) for values that will be imported into authority-controlled fields in CSpace.

The current approach (let's call the the "cacheing approach") to looking up values is to read (via the REST API) all the terms in the relevant authorities and cache them "locally" (i.e. in the mongodb associated with the rails server).  This cache must of course be maintained,

[2020-06-24 22:31] jblowe opened #363 ""Validation" as a workflow step in between Import and Transfer"
We've discussed how to improve the workflow for various use cases (the current workflow is geared towards initial migrations of data into CSpace).

Were we to insert a new step into the process, we'd have to refactor the converter to handle it. Reading the code, I am guessing that this would entail:

- Making a new "job", let' call it Validation. It would look very much like Import_job or Transfer

[2020-06-26 03:12] mark-cooper commented on #362
The existing system has too many issues to persist with, so we should start on the dynamic approach asap and fine tune it as we go.

Dynamic approach is in a branch here: https://github.com/collectionspace/cspace-converter/pull/361/files

[2020-06-26 03:37] mark-cooper commented on #363
@jblowe yes, broadly I think it is but I think we may want to change the workflow (and potentially the data model) a bit.

UI -> create batch. A batch has some metadata and a file.

When viewing a batch it now has steps:

All batch
- import (load all the csv rows, create DataObjects) -- or this could continue to happen on upload?

All batch or individual selections, none of these things happen aut

[2020-09-11 21:40] #283 closed

[2020-09-11 21:40] #167 closed

[2020-09-11 21:41] #133 closed

[2020-09-11 21:41] #132 closed

[2020-09-11 21:41] #131 closed

[2020-09-11 21:42] #317 closed

[2021-06-30 22:06] #333 closed

[2021-06-30 22:06] #332 closed

[2021-06-30 22:06] #331 closed

[2021-06-30 22:06] #330 closed

[2021-06-30 22:06] #328 closed

[2021-06-30 22:06] #327 closed

[2021-06-30 22:06] #171 closed